@font-face {
    font-family: Inter;
    src: url("./font/Inter-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Inter;
    src: url("./font/Inter-ExtraLight.ttf");
    font-weight: lighter;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: var(--radial-bg);
}

* {
    font-family: Inter;
    color: var(--text);
    font-weight: lighter;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

nav {
    height: min-content;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

nav img {
    height: 3.5em;
}

.nav-text {
    font-size: 2.3em;
}

.bottom-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 100;
    background-color: #16404B;
    padding: 10px 0px;
    gap: 40px;
}

.bottom-nav img {
    height: 40px;
}

.zen-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.greeting {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.greeting-text {
    font-size: 23px;
}

.profile-icon-wrapper {
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
    width: 110px;
    border: 5px solid white;
}

.profile-icon {
    width: 100%;
    transform: translateY(-15px);
}

.zen-block {
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background: rgba(220, 220, 220, 0.11);
    backdrop-filter: blur(4.45px);
}

.zen-block .zen-block-title {
    font-weight: bold;
    font-size: 18.5px;
}

.quote-block {
    margin-top: 10px;
    font-style: italic;
    font-size: 16.5px;
}

.quote-author {
    margin-left: auto;
    margin-top: 20px;
    width: fit-content;
}

.quote-author::before {
    content: "- ";
}

.mindful-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    align-content: normal;
  }
  
  
  .mindful-actions:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .mindful-actions:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }