@font-face {
    font-family: Inter;
    src: url("./font/Inter-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Inter;
    src: url("./font/Inter-ExtraLight.ttf");
    font-weight: lighter;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: var(--linear-bg);
}

* {
    font-family: Inter;
    color: var(--text);
    font-weight: lighter;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.hero {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 70px;
}

.hero img {
    width: 100%;
}

.hero-name {
    font-size: 60px;
}

.tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.85;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
}

.tagline span:nth-child(1) {
    font-weight: bold;
    font-size: 3.5em;
}

.tagline span:nth-child(2) {
    font-weight: lighter;
    font-size: 3.2em;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    position: absolute;
    bottom: 40px;
    gap: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    position: absolute;
    bottom: 40px;
    gap: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.nav img{
    
}
.action-buttons button {
    width: 100%;
    padding: 5px 30px;
    font-size: 25px;
    border: none;
    background-color: var(--buttons);
    border-radius: 15px;
}

.inspirational_quote{
    width: 100%; 
    height: 100%; 
    background: rgba(219.94, 219.94, 219.94, 0.11); border-radius: 18px;
    backdrop-filter: blur(8.90px);
}
.mindful_breathing{
    width: 100%; 
    height: 100%; 
    background: rgba(219.94, 219.94, 219.94, 0.11); border-radius: 18px;
    backdrop-filter: blur(8.90px);
}