.journal-block {
    justify-self: center;
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background: rgba(220, 220, 220, 0.11);
    backdrop-filter: blur(4.45px);
}

.journal-block .journal-block-title {
    text-align: center;
    font-weight: bold;
    font-size: 18.5px;
}

.journal-block-text {
    background: rgba(220, 220, 220, 0.11);
    margin-top: 10px;
    font-size: 14.5px;
    text-align: center;
    flex-grow: 1;
}

.journal-block-date {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    flex-grow: 1;
}