.journal-wrapper {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    padding-top: 0;
}

.journal-block {
    margin: 0 auto;
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background: rgba(220, 220, 220, 0.11);
    backdrop-filter: blur(4.45px);
    display: flex;
    flex-direction: column;
}

.journal-block .journal-block-title {
    text-align: center;
    font-weight: bold;
    font-size: 18.5px;
}

.journal-block-text {
    background: rgba(220, 220, 220, 0.11);
    margin-top: 10px;
    font-size: 14.5px;
    text-align: center;
    flex-grow: 1;
    height: 100%;
}

.journal-block-date {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    flex-grow: 1;
}