.journal-wrapper {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    padding: 20px;
    gap: 10px;
    box-sizing: border-box;
}

.profile-picture-block {
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background: rgba(220, 220, 220, 0.11);
    backdrop-filter: blur(4.45px);
    display: flex;
    flex-direction: row;
}

/*.profile-icon-wrapper {
    margin-left: auto;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
    width: 50px;
    border: 5px solid white;
}

.profile-icon {
    width: 40%;
    transform: translateY(-15px);
}

.journal-block {
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background: rgba(220, 220, 220, 0.11);
    backdrop-filter: blur(4.45px);
    display: flex;
    flex-direction: column;
}


*/

.journal-block-date {
    text-align: left;
    font-size: 16px;
    flex-grow: 1;
}