@font-face {
    font-family: Inter;
    src: url("../font/Inter-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Inter;
    src: url("../font/Inter-ExtraLight.ttf");
    font-weight: lighter;
}

html {
    height: 100%;
}

body {
    background: radial-gradient(89.12% 42.87% at 50.08% 50.93%, #2B606F 0%, #0D3642 100%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: var(--linear-bg);
    overflow: hidden;
}

* {
    font-family: Inter;
    color: var(--text);
    font-weight: lighter;
}

.window-section {
    width: 100vw;
    height: 100vh;
    background: var(--radial-bg);
    position: fixed;
    top: 0;
    left: 100vw;
    display: flex;
    flex-direction: column;
    transition: 400ms left;
}

.window-section.open {
    left: 0vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.hero {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 70px;
}

.hero img {
    width: 100%;
}

.hero-name {
    font-size: 60px;
}

.tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.85;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
}

.tagline span:nth-child(1) {
    font-weight: bold;
    font-size: 3.5em;
}

.tagline span:nth-child(2) {
    font-weight: lighter;
    font-size: 3.2em;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    position: fixed;
    bottom: 40px;
    gap: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 60%;
    position: absolute;
    bottom: 40px;
    gap: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.action-buttons button {
    width: 100%;
    padding: 5px 30px;
    font-size: 25px;
    border: none;
    background-color: var(--buttons);
    border-radius: 15px;
}

.inspirational_quote {
    width: 100%;
    height: 100%;
    background: rgba(219.94, 219.94, 219.94, 0.11);
    border-radius: 18px;
    backdrop-filter: blur(8.90px);

}

.inspirational_quote p {
    font-size: 20px;
}

.mindful_breathing {
    width: 100%;
    height: 100%;
    background: rgba(219.94, 219.94, 219.94, 0.11);
    border-radius: 18px;
    backdrop-filter: blur(8.90px);
}

.bottom-icons {
    height: 40px;
    background: #16404B;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    gap: 40px;
}

.bottom-icons img {
    height: 39px;
    padding-bottom: 10px;
}

.header {
    display: flex;
    align-items: center;
}

.header img {
    margin-right: auto;
}

.header-name {
    margin-left: auto;
}

.section-title {
    color: #F6F6F6;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    top: 50px;
    width: 100%;
    position: fixed;
}

.quote {
    color: #F6F6F6;
    font-family: Inter;
    font-size: 28px;
    font-style: italic;
    font-weight: 200;
    line-height: normal;
}

nav {
    height: min-content;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

nav img {
    height: 3.5em;
}

.nav-text {
    font-size: 2.3em;
}

.bottom-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 100;
    background-color: #16404B;
    padding: 10px 0px;
    gap: 40px;
    transition: 400ms bottom;
}

.bottom-nav.closed {
    bottom: -60px;
}

.bottom-nav img {
    height: 40px;
}

.zen-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.greeting {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.greeting-text {
    font-size: 23px;
}

.profile-icon-wrapper {
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
    width: 110px;
    border: 5px solid white;
}

.profile-icon {
    width: 100%;
    transform: translateY(-15px);
}

.zen-block {
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background: rgba(220, 220, 220, 0.11);
    backdrop-filter: blur(4.45px);

    display: flex;
    flex-direction: column;
}

.zen-block .zen-block-title {
    font-weight: bold;
    font-size: 18.5px;
}

.quote-block {
    margin-top: 10px;
    font-style: italic;
    font-size: 16.5px;
}

.quote-author {
    margin-left: auto;
    margin-top: 20px;
    width: fit-content;
}

.quote-author::before {
    content: "- ";
}

.mindful-block {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.mindful-actions {
    display: flex;
}

.mindful-actions span {
    font-weight: bold;
}

.mindful-time {
    margin-left: auto;
}

.mindful-audio {
    display: flex;
    gap: 5px;
}

.audio-play {
    width: 50px;
}

.audio-wave {
    width: 20px;
    flex-grow: 1;
}

.transition {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

@keyframes transition-red {
    0% {
        background-color: rgba(255, 55, 55, 0.3);
        transform: translate(-50%, -50%) scale(0);
    }

    100% {
        background-color: rgba(255, 55, 55, 1);
        transform: translate(-50%, -50%) scale(120);
    }
}

.breathing-player-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.breathing-player-container * {
    width: 100%;
}

.breathing-player-title {
    font-size: 35px;
    text-align: center;
}

.breathing-progress-bar {
    display: flex;
    gap: 5px;
    align-items: center;
}

.breathing-timestamp {
    width: min-content;
}


.breathing-player-controls-wrapper {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.breathing-player-controls-wrapper .wave {
    position: fixed;
    bottom: 80px;
    width: 100vw;
}

.breathing-player-controls {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: #106E74;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.breathing-player-buttons {
    display: flex;
    justify-content: center;
    height: 50px;
    gap: 30px;
    flex-grow: 1;
}

.breathing-player-buttons img {
    height: 100%;
}

.finishbreathing {
    padding: 5px 40px;
    font-size: 25px;
    background-color: #235664;
    border: none;
    border-radius: 50px;
}

#canvas {
    width: 100%;
    height: 10vh;
}

.crisis {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 1002;
}

@keyframes activateCrisisMode {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.crisismode-container {
    position: fixed;
    height: 100%;
    width: 90vw;
    padding-top: 100px;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.crisismode-container * {
    text-align: center;
}